{% extends 'Engineer_home.html' %}
{% block body %}
{% load static %}
<div class="main-panel">
  <div class="content-wrapper">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body mb-3">
            <h4 class="card-title">Add images</h4>
            <input type="file" class="dropify" name="image" data-max-file-size="30kb" />
          </div>
          <button class="btn btn-primary " type="submit">Insert</button>
        </div>
      </div>
    </form>
  </div>
  <script src="{% static 'js/dropify.js' %}"></script>
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="far fa-heart text-danger"></i></span>
    </div>
  </footer>
  <!-- partial -->

  <!-- main-panel ends -->


</div>

{% endblock body %}