{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container-fluid ">
    <div class="contact row collapsing ">
        <p class="font-weight-bold " style="color: #ffa62b;">Contact: <p>+91 9876563423</p> </p>
        <p class="email font-weight-bold " style="color: #ffa62b;" >Email: <p> Axiomproject@gmail.com</p></p> <i class='color fa fa-twitter'></i> <i class='color fa fa-instagram'></i> <i class='color fa fa-facebook'></i>
    </div>
    <div class="logo">
        <img style="width: 180px; height:100px ;" class="img-fluid " src="{% static 'image/logo.png' %}" alt="logo">

    </div>

    <div class="full row  ">

        <div class="left  col-lg-6 col-md-12 col-sm-12">
        <img class="img" src="{% static 'image/Civil-engineers-1536x864.jpg' %}">
        </div>

        <div class="right  col-lg-6 col-md-12 col-sm-12  align-self-center  " >
        <h2>Signup</h2>
        <div class="login-container">
            <form id="signupForm" method="POST" enctype="multipart/form-data" action="{% url 'Engineer_signup' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="form-group">

                    <input type="text" class="form-control" id="name" name="name"  placeholder="Name" >
                </div>
                <div class="form-group">
                    <input type="text" name="mobile" id="mobile" placeholder="Mobile" class="form-control" >
                </div>
                {% if mobile_exists %}
                <p>Mobile Number Already Exist......</p>
                {% endif %}
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Email" class="form-control" >
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" id="qualification" name="qualification"  placeholder="Qualification" >
                </div>
                <div class="form-group">
                    <input type="text" name="experience" id="experience" placeholder="Experience" class="form-control" >
                </div>

                <div class="form-group">
                    <input type="file" name="image"  placeholder="Insert your picture" class="form-control" >
                </div>
                <div class="form-group">


                    <select name="category"  class="form-select">
                        <option>Select category</option>
                    {% for i in categoryy %}
                      <option value="{{i.id}}">{{i.Name}}</option>
                    {% endfor %}
                    </select>

                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" id="password" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="password" name="confirmpassword" placeholder="Confirm Password" id="confirmPassword" class="form-control" >

                </div>

                <p id="message"></p>

                <br>
                <button type="submit" class="btn btn-login btn-block" id="signupButton">Signup</button>
            </form><br>

        </div>

        </div>
    </div>
    <div class="copyright">
        <i class=" fa fa-copyright " aria-hidden="true">© Copyright 2019 All Rights Reserved by Axiom-Project</i>
    </div>
</div>
<script>
    function validateForm() {
        var email = document.getElementById('email').value;
        var phone = document.getElementById('mobile').value;
        var name = document.getElementById('name').value;


        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var signupButton = document.getElementById("signupButton");
        var message = document.getElementById("message");

        if ( password === confirmPassword ) {
            message.innerHTML = "Passwords match!";
            return true;

        } else {
            message.innerHTML = "Passwords do not match!";
            return false;

        }



        var phoneRegex = /^\d{10}$/; // Assumes a 10-digit phone number
        if (!phoneRegex.test(phone)) {
            alert('Invalid phone number');
            return false;
        }




        //alert('Signup successfully !');
        //return true;
    }
</script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>